body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

li {
  margin: 10px;
}
a {
  text-decoration: none;
  height: 20%;
  color: blueviolet;
}
a:active {
  color: yellowgreen;
}

.container {
  background-color: blue;
  padding: 20px;
}

label,
input {
  display: inline-block;
  margin: 5px;
}
